@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;

  color: aliceblue;
  background-color: #333;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.container {
  height: auto;
  width: 500px;
  background-color: #555;
  box-shadow: 14px 9px 70px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 14px 9px 70px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 9px 70px -6px rgba(0, 0, 0, 0.75);
  padding: 5px;
}

.main-head {
  font-weight: 600;
  text-align: center;
}

.progress-container {
  height: 60px;
  background-color: black;
  padding: 10px;
  margin-top: 5px;
}

.progress {
  height: 30%;
  background-color: blanchedalmond;
  margin: 5px 0;
}

.status1 {
  height: 100%;
  background-color: #333;
}
.status2 {
  height: 100%;
  background-color: #333;
}
.status3 {
  height: 100%;
  background-color: #333;
}
